# --------- base --------- #
packaging

# --------- pytorch --------- #
torch
torchvision
lightning
torchmetrics

# --------- deepspeed --------- #
deepspeed  # works in Colab

# --------- hydra --------- #
hydra-core
hydra-colorlog
hydra-optuna-sweeper

# --------- loggers --------- #
wandb
# neptune-client
# mlflow
# comet-ml
# aim>=3.16.2  # no lower than 3.16.2, see https://github.com/aimhubio/aim/issues/2550

# --------- others --------- #
rootutils
pre-commit      # hooks for applying linters on commit
rich
pytest
tree
# sh            # for running bash commands in some tests (linux/macos only)
p-tqdm
proteinflow
biopython
omegaconf
setuptools
numpy
scipy
jax
prettytable